<div class="row d-flex justify-content-center">
  <div class="col-md-6" >
        <h2 >Ask your coach<h2>
        <form action="answer" class="form-control" data-turbo="false">
          <input type="text" class="form-control" name="question"> <br>
          <input id="submit-key"  type="submit" class="form-control" value="Ask!">
        </form>
  </div>
</div>
